#posts {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: left;
  
  .post {
    margin-bottom: 40px;
    
    h2 {
      color: #333;
    }
    
    .post-content {
      font-size: 18px;
      color: #555;
    }
    
    p small {
      color: #777;
    }

    .post-categories {
      font-size: 14px;
      color: #888;
    }
  }
} 


.breadcrumb {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 40px;
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

article {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: left;
  
  h1 {
    color: #333;
  }
  
  .post-content {
    font-size: 18px;
    color: #555;
  }
  
  p small {
    color: #777;
  }

  .post-categories {
    font-size: 14px;
    color: #888;
  }
}